 body {
    background-color: #f8f9fa;
}

#video {
    background-color: #000;
    border-radius: 5px;
}

.card {
    margin-top: 20px;
}

.input-group {
    margin-bottom: 20px;
    position: absolute;
    top: -99999px;
    left: -99999px;
}

#playerInfo {
    font-family: monospace;
    white-space: pre-wrap;
    word-break: break-all;
}

.telegram-modal {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2000;
        }

        .telegram-box {
            background: #ffffff;
            padding: 30px;
            border-radius: 15px;
            max-width: 400px;
            text-align: center;
            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
            background: linear-gradient(135deg, #f9f7ff, #e4e9ff);
            animation: fadeIn 0.5s ease;
        } 
         .telegram-box h2 {
            margin-top: 0;
            color: #4a3aff;
        }

        .telegram-box p {
            color: #333;
            margin: 15px 0;
        }

        .telegram-box a {
            display: inline-block;
            margin-top: 10px;
            padding: 10px 20px;
            background-color: #0088cc;
            color: #fff;
            text-decoration: none;
            border-radius: 25px;
            transition: background 0.3s;
        }

        .telegram-box a:hover {
            background-color: #0077b3;
        }

        .close-modal {
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 24px;
            cursor: pointer;
            color: #fff;
        }
